dill==0.3.3
Keras==2.4.3
louvain==0.7.0
numpy==1.19.5
pandas==1.2.1
scikit_learn==1.0
scipy==1.6.0
stellargraph==1.2.1
tensorflow==2.4.1
torch==1.8.0


conda install pytorch==1.8.0 cudatoolkit=11.1 -c pytorch -c conda-forge
conda install -c conda-forge tensorflow=2.4.1
conda install -c anaconda networkx
conda install -c conda-forge dill
conda install -c conda-forge keras=2.4.3
conda install -c conda-forge louvain=0.7.0
conda install pandas=1.2.1
conda install scikit-learn
# conda install -c stellargraph stellargraph
pip install stellargraph==1.2.1